.links {
  display: none;
}

.side-nav {
  display: none;
}

.form {
  padding: 2rem;
}

.form > h4 {
  font-family: var(--header-font);
  color: #212121;
  font-size: 6ch;
  text-align: center;
}

form {
  padding: 2rem;
  max-width: max-content;
  margin: 2rem auto 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  background-color: var(--main-bgcolor);
  border-radius: 0.3rem;
}

.input {
  display: grid;
  gap: 0.6rem;
}

.two {
  grid-column: 1/3;
}

label {
  color: #212121;
  font-family: var(--paragraph-font);
  font-size: 2ch;
  letter-spacing: 1px;
}

input,
select {
  padding: 0.8em 1em;
  min-width: 15vw;
  border-radius: 0.3rem;
  font-size: 1.2rem;
  border: none;
  font-family: var(--paragraph-font);
  letter-spacing: 1px;
  background-color: var(--sec-bgcolor);
}

input:focus,
select:focus {
  outline: 2px solid var(--highlight-bgcolor);
}

input::placeholder {
  font-size: 1rem;
}

#info {
  font-family: var(--paragraph-font);
  text-align: center;
  grid-column: 1/3;
}

#info a {
  color: var(--highlight-bgcolor);
}

@media screen and (max-width: 600px) {
  form {
    grid-template-columns: 1fr;
  }

  .two,
  .btn,
  #info {
    grid-column: 1/2;
  }
}
